$kuriftu-white: #f1f1ea;
$kuriftu-blue: #18c6e0;
$kuriftu-yellow: #ffe68b;
$kuriftu-red: #a82f2f;
$kuriftu-grey: #808080;
$kuriftu-black: #191e19;
$kuriftu-brown: #c2874a;
$kuriftu-pink: #db4da1;
$kuriftu-green: #45b75c;
$kuriftu-purple: #6945a8;

.label{
  font-family: "Neue Helvetica Bold";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.medium{
  font-family: 'medium bt';
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.subtitle {
  font-family: "medium bt";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.absolute {
  position: absolute;
  z-index: -1;
}
.text {
  font-family: "light bt";
  font-size: 1.13rem;
  line-height: 1.75rem;
}
@include responsive($lg){
  .text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.text-center{
  text-align: center;
}
.text-medium {
  font-family: 'medium bt';
  font-size: 1.13rem;
  line-height: 1.75rem;
}
.h4 {
  font-family: 'futura' , 'Poppins';
  font-weight: 700;
  font-size: 1.56rem;
  line-height: 1.5rem;
}
.h2 {
  font-family: 'medium bt';
  font-weight: 700;
  font-size: 2.44rem;
  line-height: 2.88rem;
}
@include responsive($xl){
  .h2 {
    font-family: "Futura", 'Poppins';
    font-weight: 700;
    font-size: 3.31rem;
    line-height: 3.98rem;
  }
}
.text-small {
  font-family: "light bt";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}
// Variables
$columns: 12;
$primary-color: #566cfb;
$secondary-color: #a07178;
$lime-green: #71deb5;
$blue: #3d5a80;
$trans: all 0.5s ease-in-out;

// Gird system
.container {
  width: 100% - 10%;
  max-width: 1440px;
  margin: 0 auto;
  // overflow: hidden;
}
.container-sm{

  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1 0 0%;
}
//default col
@for $i from 0 through $columns {
  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;
  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns * $i;
  }
}

// // Small devices (landscape phones, 576px and up)

@include responsive($sm) {
  @for $i from 0 through $columns {
    .col-sm-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-sm-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include responsive($md) {
  @for $i from 0 through $columns {
    .col-md-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-md-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Large devices (desktops, 992px and up)
@include responsive($lg) {
  @for $i from 0 through $columns {
    .col-lg-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-lg-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include responsive($xl) {
  @for $i from 0 through $columns {
    .col-xl-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-xl-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Buttons
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  // border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  background: $kuriftu-brown;
  color: $kuriftu-white;
  border-color: $kuriftu-brown;
}
.btn-rounded {
  // border-radius: 48px;
  font-size: 15px;
}

@include responsive($lg) {
  .btn {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.btn-rounded-outline-primary {
  @extend .btn-rounded;
  background: transparent;
  color: $primary-color;
  font-weight: 500;
  font-size: 1.3rem;
  border-color: $primary-color;
  &:hover {
    background: $primary-color;
    color: #fff;
  }
}
.btn-rounded-outline-category {
  @extend .btn-rounded;
  background: transparent;
  color: #888b8d;
  border-color: #888b8d;
  &:hover {
    background: #888b8d;
    color: #fff;
  }
}
.btn-secondary {
  color: $kuriftu-white;
  background: $kuriftu-red;
}
.btn-blue {
  color: $kuriftu-white;
  background: $kuriftu-blue;
}
.btn-black {
  background:  $kuriftu-black;;
  color: $kuriftu-white;

  border-radius: 0px;
  font-size: .9rem;
  &:hover{
  color: #fff;
  }

}
.btn-rounded-secondary {
  @extend .btn-rounded;
  background: $kuriftu-white;
  color: #fff;
  margin-bottom: 5px;
}
.btn-outline-primary {
  background: transparent;
  color: $kuriftu-brown;
  border-color: $kuriftu-brown;
}
.btn-outline-white {
  background: transparent;
  color: $kuriftu-white;
  border-color: $kuriftu-white;
}
.btn-outline-brown {
  background: transparent;
  color: $kuriftu-brown;
  border-color: $kuriftu-brown;
}
.btn-outline-black {
  background: transparent;
  color: $kuriftu-black;
  border-color: $kuriftu-black;
}

// text 

.caps {
  font-family: "Neue Helvetica Bold";
  text-transform: uppercase;
  font-size: 1.13rem;
  font-weight: 800;
  line-height: 1.63rem;
  color: $kuriftu-black;
}
@include responsive($lg) {
  .text {
    font-size: 1.13rem;
    line-height: 2rem;
  }
}

.text {
  font-family: "Myriad Pro Regular";
  font-size: 1rem;
  line-height: 1.75rem;
  color: $kuriftu-black;
}
.title {
  font-family: "Neue Helvetica Bold";
  font-size: 1.5rem;
  line-height: 1.63rem;
  color: $kuriftu-brown;
}
.nav {
  font-family: "Neue Helvetica Light";
  font-size: 1rem;
  line-height: 1.63rem;
}

@include responsive($md) {
  .title {
    font-size: 2.25rem;
    line-height: 1.63rem;
  }
}
@include responsive($lg) {
  .nav {
    font-size: 2rem;
    line-height: 1.63rem;
  }
}
.huge {
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 5rem;
  line-height: 4.31rem;
}